.contact_main{
    padding: 128px 0;
}
.startup_left{
    min-height: 691px;
}
.startup_left{
    background: url(../../assets/contactbg.png) no-repeat center / cover;
    max-height: 691px;
}
.str_text{
    padding-left: 91px;
    padding-top: 96px;
    width: 85%;
}
.str_text h3{
    font-size: 54px !important;
    line-height: 74px;
    font-weight: 600;
    color: #fff;
}
.str_text p{
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #fff;
}
.startup_right{
    min-height: 691px;
}
.startup_right{
    background-color:#1C1E53 ;
    max-height: 691px;
}
.signup{
    padding-left: 91px;
    padding-top: 96px;
    width: 85%;

}
.signup h5{
    font-size: 32px;
    line-height: 48px;
    font-weight: 400;
    color: #fff;
    padding-bottom: 16px;
}
.signup p{
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #fff;
    padding-bottom: 40px;
}
.signup input{
    background: transparent;
    border: 2px solid #ffffff5b !important;
    padding: 18px 0;
}
.signup .control {
    display: block;
    width: 100%;
    padding: 18px 0 18px 32px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color:#fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    background-clip: padding-box;
    border: 2px solid #ffffff3b;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.signup .btnnnnn{
    display: flex;
    padding:16px 35%;
    width: 100%;
    background-color: transparent;
    border: 1px solid #fcd980b0;
    color: #fff;
    border-radius:41px ;
    -webkit-border-radius:41px ;
    -moz-border-radius:41px ;
    -ms-border-radius:41px ;
    -o-border-radius:41px ;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
}
.signup .btnnnnn:hover{
    background-color: #FCD980;
    color: #282938;
}


@media(max-width:575px){
    .contact_main {
        padding: 58px 0;
    }
    .startup_left {
        min-height: 512px;
    }
    .str_text {
        padding-left: 47px;
        padding-top: 38px;
        width: 100%;
    }
    .str_text h3 {
        font-size: 44px;
        line-height: 47px;
    }
    .startup_right {
        min-height: 661px;
    }
    .signup {
        padding-top: 36px;
        padding-left: 32px;
        width: 90%;
    }
    .signup .btnnnnn {
        padding: 15px 31%;
}
}
@media(min-width:576px) and (max-width:767px){
    .contact_main {
        padding: 58px 0;
    }
    .startup_left {
        min-height: 512px;
    }
    .str_text h3 {
        font-size: 59px;
        line-height: 47px;
    }
    .startup_right {
        min-height: 661px;
    }
    .signup {
        padding-top: 57px;
    }
    .signup .btnnnnn {
        padding: 18px 33%;
}
}
@media(min-width:768px) and (max-width:991px){
    .contact_main {
        padding: 58px 0;
    }
    
    .startup_left {
        min-height: 512px;
    }
    .str_text h3 {
        font-size: 43px !important;
        line-height: 47px;
    }
    .str_text p {
        font-size: 16px;
        padding-top: 40px;
    }
    .startup_right {
        min-height: 661px;
    }
    .signup {
        padding-top: 57px;
    }
    .signup .btnnnnn {
        padding: 19px 39%;
    }
}