.body h2{
    font-size: 38px !important;
    font-weight: 600 !important;
    color: #222;
    line-height: 56px;
}
.body p{
    font-size: 16px !important;
    font-weight:400 !important;
    color: #222;
    line-height: 28px;
}
