.nav_main{
    background-color:#1C1E53 ;
    padding: 20px 0px;
}
.nav_main .navbar-nav a{
    color: #fff;
    margin-right:32px ;
}
.cont_btn a{
    padding: 16px 48px;
    border: 2px solid #FCD980;
    border-radius: 41px;
    -webkit-border-radius: 41px;
    -moz-border-radius: 41px;
    -ms-border-radius: 41px;
    -o-border-radius: 41px;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}
.cont_btn a:hover{
    background-color: #FCD980;
    color: black;
}
@media(max-width:991px){
    .cont_btn{
        margin-top: 35px;
    }
    .menu_toggle {
        background-color: #fff !important;
    }
    span {
        margin-right: 1px !important;

    }
}


