.study_main{
    padding: 128px 0;
}
.bodyyy h2{
    font-size:48px !important;
    line-height: 64px !important;
    font-weight: 500 !important;
    color: #222;
    padding-bottom: 50px;
}
.btmm p{
    font-size: 16px !important;
    line-height: 28px !important;
    color: #222;
    padding-top: 60px !important;
}


@media(max-width:575px){
    .study_main {
        padding: 13px 0;
    }
    .bodyyy h2 {
        font-size: 22px !important;
        line-height: 46px !important;
        font-weight: 600 !important;
    }
}
@media (min-width:576px) and (max-width:767px){
    .need_main {
        padding: 29px 0;
    }
    .right{
        padding-top: 80px;
    }
}
@media (min-width:768px) and (max-width:991px){
    .need_main {
        padding: 29px 0;
    }
    .right{
        padding-top: 80px;
    }
}