.feature_main{
    padding: 128px 0;
    background-color: #F4F6FC;
}

.feature_head{
   text-align: center;
}
.feature_head h6{
    font-size: 16px !important;
    line-height: 28px !important;
    font-weight: 400 !important;
    color: #282938;
 }
 .feature_head h2{
    font-size: 42px !important;
    line-height: 64px !important;
    font-weight: 600 !important;
    color: #282938;
    padding-bottom: 42px !important;
 }
 .content_box{
     background-color: #fff;
     margin-bottom: 20px !important;
 }
 .main{
     padding: 6px !important;
 }
 .main img{
     padding-bottom:22px !important;
 }
 .main h2{
     font-size: 32px !important;
     line-height: 27px !important;
     font-weight: 600 !important;
     color: #282938;
 }
 .main p{
     font-size: 14px !important;
     line-height: 28px !important;
     font-family: 300 !important;
     color: #282938;
 }

 body h2, h3 {
	font-size: 32px !important;
	line-height: 10px !important;
	color: #222;
	font-weight: 600 !important;
	padding: 10px 0 !important;
}


 @media(max-width:575px){
    .feature_main {
        padding: 60px 0 ;
    }
    .feature_head h2 {
        font-size: 26px !important;
        line-height: 47px !important;
        padding-bottom: 0px !important;
    }
    .main {
        padding: 20px;
    }
    .main h2 {
        font-size: 20px !important;
        line-height: 0px !important;
    }
    .main p {
        font-size: 14px !important;
        line-height: 19px !important;
    }
    .content_box {
        padding-top: 3px !important;
        padding-bottom: 0px !important;
    }
 }
 @media (min-width:576px) and (max-width:767px){
    .feature_main {
        padding: 60px 0;
    }
    .feature_head h2 {
        font-size: 36px;
        padding-bottom: 17px;
    }
    .main {
        padding: 20px;
    }
    .content_box {
        padding-top: 3px;
        padding-bottom: 0px;
    }
 }
 @media (min-width:768px) and (max-width:991px){
    .feature_main {
        padding: 60px 0;
    }
    .feature_head h2 {
        font-size: 36px;
        padding-bottom: 17px;
    }
    .main {
        padding: 20px;
    }
    .content_box {
        padding-top: 3px;
        padding-bottom: 0px;
    }
 }