.benifetis_main{
    padding: 128px 0;
}
.ben_upper h2{
    text-align: center;
    font-size:48px !important;
    font-weight: 600 !important;
    line-height: 64px !important;
    color: #282938;
}
.content_box{
    width: 100%;
    padding-top: 50px !important;
    padding-bottom: 48px !important;
    background-color: #F4F5F5 !important;
}
.content_inner{
    padding-left:28px !important ;
}
.content_inner h3{
    padding-top:26px !important;
    font-size:24px !important;
    font-weight: 400 !important;
    line-height: 36px !important;
    color: #282938;
}
.content_inner p{
    font-size:16px !important;
    font-weight: 400 !important;
    line-height: 28px !important;
    color: #282938bd;
}

.content_inner1 h3{
    padding-top:30px  !important;
    font-size:24px !important;
    font-weight: 400 !important;
    line-height: 36px !important;
    color: #282938;
}
.content_inner1{
    padding-left:48px  !important;
}
.content_inner1 p{
    padding-top:3px !important ;
    font-size:16px !important;
    font-weight: 400 !important;
    line-height: 28px !important;
    color: #282938bd;
}
.inner{
    padding-top: 25px !important;
}
.innerr{
    padding-top: 50px !important;
}





@media (max-width:575px){
    .benifetis_main {
        padding: 50px 0;
    }
    .ben_upper h2 {
     font-size: 36px;
    }
    .content_inner {
        padding-left: 11px;
    }
    .content_inner h3 {
        padding-top: 5px;
        font-size: 24px;
        line-height: 30px;
    }
}
@media (min-width:576px) and (max-width:767px){
    .benifetis_main {
        padding: 50px 0;
    }
    .ben_upper h2 {
     font-size: 36px;
    }
    .content_inner {
        padding-left: 11px;
    }
    .content_inner h3 {
        padding-top: 5px;
        font-size: 24px;
        line-height: 30px;
    }
}
@media (min-width:768px) and (max-width:991px){
    .benifetis_main {
        padding: 50px 0;
    }
    .ben_upper h2 {
     font-size: 36px;
    }
    .content_inner {
        padding-left: 11px;
    }
    .content_inner h3 {
        padding-top: 5px;
        font-size: 24px;
        line-height: 30px;
    }
}