.pricing_main{
    padding: 128px 0;
}

.prc_head h2{
    font-size: 48px !important;
    font-weight: 600 !important;
    line-height: 64px !important;
    color: #282938;
}
.prc_head p{
    font-size: 18px !important;
    font-weight: 400 !important;
    line-height: 28px !important;
    color: #2829388e;
    padding-bottom:64px !important;
}
.plans_body{
    background-color:#F4F6FC ;
    border-radius:12px ;
    -webkit-border-radius:12px ;
    -moz-border-radius:12px ;
    -ms-border-radius:12px ;
    -o-border-radius:12px ;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.price_body{
    padding-top: 64px !important;
    padding-left: 48px !important;
    padding-right: 77px !important;
    padding-bottom:62px !important ;  
}

.price_body h2{
    font-size: 38px !important;
    font-weight: 600 !important;
    line-height: 56px !important;
    color: #282938;
    padding-bottom: 20px !important;
}
.price_body h2 span{
    font-size: 16px !important;
    font-weight: 300 !important;
    line-height:28px !important;
    color: #2405F2;
}
.price_body h3{
    font-size: 24px !important;
    font-weight: 400 !important;
    line-height:36px !important;
    color: #282938;
}
.price_body p{
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height:28px !important; 
    color: #282938bb;
}
.price_dtl P{
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 28px !important;
    color: #282938;
}
.price_dtl i{
    color: #97DAAD;
}
.disable i{
    color:#0c0c0c5b ;
}
.btnn{
    padding-top: 79px !important;
    padding-bottom: 62px !important;
}
.btnn a{
    padding: 16px 77px !important;
    border: 2px solid #282938;
    color: #282938;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.btnn a:hover{
    background-color: #282938;
    color: #fff;
}

.plans_body2{
    background-color: #1C1E53;
    border-radius:12px ;
    -webkit-border-radius:12px ;
    -moz-border-radius:12px ;
    -ms-border-radius:12px ;
    -o-border-radius:12px ;
}
.price_body2{
    padding-top: 64px !important; 
    padding-left: 48px !important;
    padding-right: 77px !important;
    padding-bottom:62px  !important;
    
}
.price_body2 h2{
    font-size: 38px !important;
    font-weight: 600 !important;
    line-height: 56px !important;
    color: #FFF;
    padding-bottom: 20px !important;
}
.price_body2 h2 span{
    font-size: 16px !important;
    font-weight: 300 !important;
    line-height:28px !important;
    color: #FCD980;
}
.price_body2 h3{
    font-size: 24px !important;
    font-weight: 400 !important;
    line-height:36px !important;
    color: #FFF;
}
.price_body2 p{
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height:28px !important;
    color: #ffffffce;
}
.price_dtl2 P{
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 28px !important;
    color: #FFF;
}
.price_dtl2 i{
    color: #97DAAD;
}

.btn a{
    padding: 16px 77px !important;
    border: 2px solid #FFF;
    color: #FFF;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.btn a:hover{
    background-color: #FCD980;
    color: #282938;
}
.btnnnn{
    padding-top: 40px !important;
    padding-bottom: 60px !important;
}




@media(max-width:575px){
    .body p{
        padding: 2px 0 !important;
    }
    .pricing_main {
        padding: 10px 0;
    }
    .prc_head h2 {
        font-size: 41px !important;
        line-height: 52px !important;
    }
    .price_body ,
    .price_body2 {
        padding-top: 4px !important;
        padding-left: 23px !important;
        padding-right: 0px !important;
        padding-bottom: 0px !important;
    }
    .btnn a {
        padding: 17px 46px;
    }
    .btnn {
        padding-top: 19px !important;
        padding-bottom: 49px !important;
    }
    .price_body2 .btn a {
        padding: 17px 47px;
    }
    .btnnnn {
        padding-top: 11px;
        padding-bottom: 51px;
    }
    .plans_body{
        margin-bottom: 30px;
    }
    .prc_head p {
        font-size: 16px !important;
        line-height: 22px !important;
        padding-bottom: 13px !important;
    }
    .price_body h2 {
        font-size: 35px !important;
        line-height: 24px !important;
        padding-bottom: 0px !important;
    }
}
@media(min-width:576px) and (max-width:767px){
    .price_body {
        padding-top: 18px;
        padding-left: 18px;
        padding-right: 13px;
        padding-bottom: 0px;
    }
    .btnn a {
        padding: 17px 46px;
    }
    .btnn {
        padding-top: 42px;
        padding-bottom: 60px;
    }
    .price_body2 {
        padding-top: 15px;
        padding-left: 20px;
        padding-right: 7px;
        padding-bottom: 0px;
    }
    .price_body2 .btn a {
        padding: 17px 47px;
    }
    .btnnnn {
        padding-top: 11px;
        padding-bottom: 51px;
    }
    .plans_body{
        margin-bottom: 30px;
    }
}
@media(min-width:768px) and (max-width:991px){
    .price_body {
        padding-top: 18px;
        padding-left: 18px;
        padding-right: 13px;
        padding-bottom: 0px;
    }
    .btnn a {
        padding: 17px 46px;
    }
    .btnn {
        padding-top: 42px;
        padding-bottom: 60px;
    }
    .price_body2 {
        padding-top: 15px;
        padding-left: 20px;
        padding-right: 7px;
        padding-bottom: 0px;
    }
    .price_body2 .btn a {
        padding: 17px 47px;
    }
    .btnnnn {
        padding-top: 11px;
        padding-bottom: 51px;
    }
    .plans_body{
        margin-bottom: 30px;
    }
}