.project_main{
    padding: 128px 0;
}

.prj_head_left h2{
    font-size: 48px !important;
    line-height: 64px !important;
    font-weight: 600 !important;
    color: #282938;
}
.prj_head_right a{
    font-size: 16px !important;
    line-height: 28px !important;
    color: #282938;
    font-weight: 400 !important;
}
.prj_head_right a:hover{
    color: blue;
    font-weight: 600
}
.prj_left{
    position: relative;

}
.gradient{
    position: absolute;
    background-color: #1c1e53c5;
    height: 100%;
    width: 40%;
    top: 0;
    left: 0;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}
.gradient:hover{
   width: 100%;
}
.inner_content {
    position: absolute;
    height: 100%;
    width: 30%;
    top: 50%;
    left: 20px;
}
.inner_content h3{
    font-size: 20px !important;
    line-height: 34px !important;
    font-weight: 600 !important;
    color: #fff;
}
.inner_content p{
    font-size: 14px !important;
    line-height: 28px !important;
    font-weight: 300 !important;
    color: #fff;
    padding-bottom: 20px;
}
.inner_content a{
    font-size: 14px !important;
    line-height: 28px !important;
    font-weight: 300 !important;
    color: #fff;
}
.umm{
    padding-bottom: 24px;
}
.prj_right {
    position: relative;
}
.gradientt{
    position: absolute;
    background-color: #1c1e53c5;
    height: 100%;
    width: 40%;
    top: 0;
    left: 0;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}
.gradientt:hover{
    width: 100%;
 }
 .inner_contentt{
    position: absolute;
    height: 100%;
    width: 30%;
    top: 30%;
    left: 20px;
 }
 .inner_contentt h3{
    font-size: 20px !important;
    font-weight: 500 !important;
    line-height: 36px !important;
    color: #fff;
 }
 .inner_contentt a{
    font-size: 14px !important;
    font-weight: 300 !important;
    line-height: 10px !important;
    color: #fff;
 }

 @media(max-width:575px){
    .prj_head_left h2 {
        font-size: 24px !important;
        line-height: 0px !important;
    }
    .project_main {
        padding: 50px 0;
    }
    .prj_head_left h2 {
        font-size: 36px;
        line-height: 50px;
    }
    .prj_head_right {
        line-height: 22px;
    }
    .prj_head_right a {
        font-size: 11px !important;
        line-height: 22px !important;
    }
    .prj_right{
        padding-top: 25px;
    }
    .inner_content {
        top: 10%;
        left: 17px;
    }
    .inner_contentt {
        width: 51%;
        top: 8%;
        left: 7px;
    }
    .gradientt {
        top: 20px;
    }
    .prj_right img{
        width: 100%;
    }
    .prj_right .inner_contentt h3 {
        font-size: 14px !important;
         line-height: 18px !important;
    }
    .prj_right .inner_contentt a {
        font-size: 9px !important;
        line-height: 10px !important;
    }
 
    .inner_content h3 {
        font-size: 20px !important;
        line-height: 26px !important;
    }
    .inner_content p {
        font-size: 14px !important;
        line-height: 18px !important;
        padding-bottom: 0px;
    }
 }

 @media(min-width:576px) and ( max-width:767px){
    .project_main {
        padding: 50px 0;
    }
    .prj_head_left h2 {
        font-size: 36px;
        line-height: 50px;
    }
    .prj_head_right{
        line-height: 51px;
    }
    .prj_right{
        padding-top: 25px;
    }
    .inner_content {
        top: 15%;
        left: 17px;
    }
    .inner_contentt {
        width: 51%;
        top: 8%;
        left: 7px;
    }
    .gradientt {
        top: 20px;
    }
    .prj_right img{
        width: 100%;
    }
 }
 @media(min-width:768px) and ( max-width:991px){
    .project_main {
        padding: 50px 0;
    }
    .prj_head_left h2 {
        font-size: 36px;
        line-height: 50px;
    }
    .prj_head_right{
        line-height: 51px;
    }
    .prj_right{
        padding-top: 25px;
    }
    .inner_content {
        top: 15%;
        left: 17px;
    }
    .inner_contentt {
        width: 51%;
        top: 8%;
        left: 7px;
    }
    .gradientt {
        top: 20px;
    }
    .prj_right img{
        width: 100%;
    }
 }